@page "/Invoices"
@inject IRepositorio repositorio

<h3>Invoices</h3>

<div>
    Aqui va la infor de la factura
    <br />
    <br />
    @if (Facturas == null)
    {
        <text>Es posible que el servicio no este funcionando....</text>
    }
    else if (Facturas.Count == 0)
    {
        <text>No hay registros para mostrar....</text>
    }
    else
    {
        @foreach (var invoice in Facturas)
        {
            <div class="row">
                <div class="col-md-4">
                    <p>Numero de Factura: @invoice.NumberInvoice</p>
                </div>
                <div class="col-md-4">
                    <p>Fecha de Factura : @invoice.DateInvoice.ToString("yyyy-MM-dd")</p>
                </div>
                <div class="col-md-4">
                    <p>Descripcion: @invoice.Description </p>
                </div>
            </div>
            <hr />
            <!-- Aqui va el detalle de la factura -->
            <DetailInvoice InvoiceDetails=@invoice.Details />
            <hr />
        }
    }
</div>

@code {

    public List<InvoiceRemote> Facturas { get; set; }


    protected async override Task OnInitializedAsync()
    {
        // Facturas = repositorio.GetInvoices();
        var factura = await repositorio.GetInvoiceByNumber(21);
        Facturas.Add(factura);

        //  return base.OnInitializedAsync();
    }


}